@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: 0;
}
body {
  font-family: "Montserrat", "sans-serif";
  background: linear-gradient(90deg, hsla(197, 100%, 63%, 1) 0%, #e81aff 100%);
}
input {
  padding-left: 10px;
}
.container {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 4rem auto;
}

.container > a {
  text-decoration: none;
}

.container > a > div {
  color: #ffffff;
  background-color: rgba(0, 0, 255, 0.2);
  padding: 2rem;
  margin: 1rem;
  text-align: center;
  box-shadow: 5px 10px rgba(69, 69, 102, 0.2);
  cursor: pointer;
}
.container > a > div:hover {
  background-color: rgba(0, 255, 0, 0.2);
  color: #1d1d1d;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: 1s ease;
}

.container-angle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  padding-left: 30%;
  padding-right: 30%;
}
.btn {
  display: block;
  margin: auto;
  width: 30%;
  height: 3rem;
  margin-top: 1rem;
  color: #ffffff;
  border-radius: 0.8rem;
  padding: 1rem;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  font-weight: 600;
}
.heading {
  margin-top: 1.5rem;
  font-weight: 700;
  text-align: center;
}
.inps-div {
  margin-top: 2rem;
}
.angle-inp {
  width: 50px;
  height: 50px;
  margin-left: 2rem;
}
.btn-angle {
  background-color: rgb(100, 9, 110);
  display: block;
  margin: 2rem auto;
}
.angle-op {
  border: 2px solid black;
  font-weight: 700;
  text-align: center;
  width: 100%;
  padding: 1rem;
}

.hypo-op {
  border: 2px solid black;
  font-weight: 700;
  text-align: center;
  width: 100%;
  padding: 1rem;
  margin-top: 2rem;
  margin-left: -1.2rem;
}

.back {
  margin-top: 1rem;
  background-color: #ffffff;
  width: 100%;
  height: 3rem;
  border-radius: 8px;
  padding: 0.3rem;
  text-align: center;
}

.back > p {
  margin-top: 1rem;
  font-weight: 700;
}

.inp-lbl {
  padding-left: 1rem;
}

.side-inp {
  width: 80px;
  height: 50px;
}

.overline {
  text-decoration-line: overline;
}

.radio-box {
  text-align: left;
  margin-top: 1rem;
}

.radio-lbl {
  font-weight: 600;
}

.hidden {
  display: none;
}

.warning {
  color: rgb(100, 9, 110);
  text-align: center;
}

.container-quiz {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
}

.container-quiz > div {
  width: 80%;
  color: #1d1d1d;
  background-color: rgba(0, 0, 255, 0.2);
  padding: 2rem;
  margin: 1rem;
  cursor: pointer;
  font-weight: 600;
}

.options {
  display: flex;
  margin-top: 0.5rem;
  flex-wrap: wrap;
}

.opt-label {
  margin-right: 1rem;
  margin-left: 0.6rem;
  cursor: pointer;
}

.radio {
  cursor: pointer;
}

@media only screen and (max-width: 720px) {
  .container-angle {
    padding-left: 10%;
    padding-right: 10%;
  }
  .inps-div {
    padding-left: 0%;
    padding-right: 0%;
  }
  .side-inp {
    width: 50px;
    height: 30px;
  }
  .angle-inp {
    margin-left: 1rem;
  }
  .btn {
    width: 50%;
  }
}
